* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

:root {
    --primary-color : #cc6d0e;
    --secondary-color : #000;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items:  center;

}

.container {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color:  white;
    max-width: 600px;
    overflow: hidden;

}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
    padding: 2rem 4rem;
    text-align: center;
}
.active
{
    display: block;
}
#start-screen h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

}

#start-screen p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}



#question-text {
   font-size: 1.5rem;
   color: #333;
   margin-bottom: 1.5rem;
   line-height: 1.4;
}

.quiz-info {
        display: flex;
        justify-content: space-between;
        color: #666;
        margin-bottom: 30px;
        }

   .answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    text-align: left;
   }     
   

   .answer-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: all  0.3s ease ;
    &:hover {
        background-color: #eadbc8;
        border-color: #dac0ae;
    }
   }

.answer-correct {
    background-color: #e6fff0;
    border-color: #a3f0c4 ; 
color :#28a745 ; 

   }


   .answer-incorrect {
    background-color: #fff0f0;
    border-color: #ffbdbd ; 
    color :#dc3535 ; 
   }

   .progress-bar {
     height: 10px;
  background-color: #f8f0e5;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

 .progress {
    background-color: #cc6d0e;
    transition: all 0.3s ease;
    height: 100%;
    width: 0;
 }



 #result-screen {
    color: #e86a33;
    margin-bottom: 30px;

 }

 .result-info {
   background-color: #f8f0e5;
   border-radius: 10px;
   padding: 20px;
   margin: 30px;

 }

 .result-info p {
        font-size: 1.2rem;
          color: #333;
          margin-bottom: 1rem;

 }

 #result-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e86a33;
 } 
 
    button {
    background-color: #e86a33;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
        background-color: #d45b28;
    }
}